<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放crud的sql语句-->
<mapper namespace="cn.sm1234.dao.CustomerMapper">
    <insert id="save" parameterType="customer">
        insert into springboot_shenma.t_customer(
        name,
        gender,
        telephone,
        address
        )
        values
        (
        #{name},
        #{gender},
        #{telephone},
        #{address}
        )
    </insert>
</mapper>